/* Secciones generales */
        section {
            padding: 60px 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .section-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .section-title h2 {
            font-size: 2.5rem;
            color: var(--azul-electrico);
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
        }
        

        .section-title h2::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background-color: var(--plateado);
        }

        .section-title h3 {
            font-size: 1.5rem;
            color: var(--azul-electrico);
            position: relative;
            margin-top: 20px;
            right: 45%;
            display: inline-block;
        }
