/* Responsive */
        @media (max-width: 768px) {
            .header-container {
                flex-direction: column;
                gap: 15px;
            }

            nav ul {
                flex-wrap: wrap;
                justify-content: center;
            }

            .hero-content h2 {
                font-size: 2rem;
            }

            .about-content {
                grid-template-columns: 1fr;
            }

            .section-title h2 {
                font-size: 2rem;
            }
            .carousel img {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            height: 300px;
            }
            .arrow {
                padding: 8px;
                font-size: 18px;
            }
        }